# Groupby Operations and Multi-level Index

In [1]:
import pandas as pd
import numpy as np

# Data

In [5]:
df = pd.read_csv("C:\\Users\\DELL\\Udemy classes\\UNZIP_FOR_NOTEBOOKS_FINAL\\03-Pandas\\mpg.csv")

In [6]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

## groupby() method

#### Creates a groupby object waiting for an aggregate method

In [7]:
df.groupby('model_year')


#### Adding an aggregate method call. To use a grouped object, you need to tell pandas how you want to aggregate the data.

Common Options:

    mean(): Compute mean of groups
    sum(): Compute sum of group values
    size(): Compute group sizes
    count(): Compute count of group
    std(): Standard deviation of groups
    var(): Compute variance of groups
    sem(): Standard error of the mean of groups
    describe(): Generates descriptive statistics
    first(): Compute first of group values
    last(): Compute last of group values
    nth() : Take nth value, or a subset if n is a list
    min(): Compute min of group values
    max(): Compute max of group values
    
Full List at the Online Documentation: https://pandas.pydata.org/docs/reference/groupby.html

In [11]:
df.groupby('mpg').mean()

      cylinders  displacement   weight  acceleration  model_year  origin
mpg
9.0         8.0        304.00  4732.00     18.500000        70.0     1.0
10.0        8.0        333.50  4495.50     14.500000        70.0     1.0
11.0        8.0        374.25  4419.00     12.375000        72.0     1.0
12.0        8.0        394.50  4786.50     12.083333        72.5     1.0
13.0        8.0        353.00  4254.45     12.935000        73.3     1.0
...         ...           ...      ...           ...         ...     ...
43.4        4.0         90.00  2335.00     23.700000        80.0     2.0
44.0        4.0         97.00  2130.00     24.600000        82.0     2.0
44.3        4.0         90.00  2085.00     21.700000        80.0     2.0
44.6        4.0         91.00  1850.00     13.800000        80.0     3.0
46.6        4.0         86.00  2110.00     17.900000        80.0     3.0

[129 rows x 6 columns]

In [12]:
df.groupby("cylinders").mean()

,mpg,displacement,weight,acceleration,model_year,origin
cylinders,,,,,,
3,20.550000,72.500000,2398.500000,13.250000,75.500000,3.000000
4,29.286765,109.796569,2308.127451,16.601471,77.073529,1.985294
5,27.366667,145.000000,3103.333333,18.633333,79.000000,2.000000
6,19.985714,218.142857,3198.226190,16.263095,75.928571,1.190476
8,14.963107,345.009709,4114.718447,12.955340,73.902913,1.000000

In [13]:
df.groupby("weight").mean()

         mpg  cylinders  displacement  acceleration  model_year  origin
weight
1613    35.0        4.0          72.0          18.0        71.0     3.0
1649    31.0        4.0          76.0          16.5        74.0     3.0
1755    39.1        4.0          79.0          16.9        81.0     3.0
1760    35.1        4.0          81.0          16.1        81.0     3.0
1773    31.0        4.0          71.0          19.0        71.0     3.0
...      ...        ...           ...           ...         ...     ...
4951    12.0        8.0         455.0          11.0        73.0     1.0
4952    12.0        8.0         429.0          11.5        73.0     1.0
4955    12.0        8.0         383.0          11.5        71.0     1.0
4997    11.0        8.0         400.0          14.0        73.0     1.0
5140    13.0        8.0         400.0          12.0        71.0     1.0

[351 rows x 6 columns]

In [14]:
df.groupby("displacement").mean()

,mpg,cylinders,weight,acceleration,model_year,origin
displacement,,,,,,
68.0,29.000000,4.0,1867.000000,19.500000,73.000000,2.0
70.0,20.233333,3.0,2291.333333,13.166667,75.000000,3.0
71.0,31.500000,4.0,1804.500000,20.000000,72.500000,3.0
72.0,35.000000,4.0,1613.000000,18.000000,71.000000,3.0
76.0,31.000000,4.0,1649.000000,16.500000,74.000000,3.0
...,...,...,...,...,...,...
400.0,13.961538,8.0,4521.230769,11.715385,72.923077,1.0
429.0,12.666667,8.0,4642.000000,10.833333,71.666667,1.0
440.0,13.500000,8.0,4523.500000,9.750000,71.500000,1.0
454.0,14.000000,8.0,4354.000000,9.000000,70.000000,1.0
455.0,13.333333,8.0,4154.000000,10.333333,71.000000,1.0

In [15]:
df.groupby('origin').mean()

,mpg,cylinders,displacement,weight,acceleration,model_year
origin,,,,,,
1,20.083534,6.248996,245.901606,3361.931727,15.033735,75.610442
2,27.891429,4.157143,109.142857,2423.300000,16.787143,75.814286
3,30.450633,4.101266,102.708861,2221.227848,16.172152,77.443038

In [16]:
avg_displacement =df.groupby("displacement").mean()

In [17]:
avg_displacement.index

Float64Index([ 68.0,  70.0,  71.0,  72.0,  76.0,  78.0,  79.0,  80.0,  81.0,
               83.0,  85.0,  86.0,  88.0,  89.0,  90.0,  91.0,  96.0,  97.0,
               97.5,  98.0, 100.0, 101.0, 104.0, 105.0, 107.0, 108.0, 110.0,
              111.0, 112.0, 113.0, 114.0, 115.0, 116.0, 119.0, 120.0, 121.0,
              122.0, 130.0, 131.0, 134.0, 135.0, 140.0, 141.0, 144.0, 145.0,
              146.0, 151.0, 155.0, 156.0, 163.0, 168.0, 171.0, 173.0, 181.0,
              183.0, 198.0, 199.0, 200.0, 225.0, 231.0, 232.0, 250.0, 258.0,
              260.0, 262.0, 267.0, 302.0, 304.0, 305.0, 307.0, 318.0, 340.0,
              350.0, 351.0, 360.0, 383.0, 390.0, 400.0, 429.0, 440.0, 454.0,
              455.0],
             dtype='float64', name='displacement')

In [18]:
avg_displacement.columns

Index(['mpg', 'cylinders', 'weight', 'acceleration', 'model_year', 'origin'], dtype='object')

In [21]:
avg_displacement['mpg']

displacement
68.0     29.000000
70.0     20.233333
71.0     31.500000
72.0     35.000000
76.0     31.000000
           ...
400.0    13.961538
429.0    12.666667
440.0    13.500000
454.0    14.000000
455.0    13.333333
Name: mpg, Length: 82, dtype: float64

In [22]:
df.groupby('model_year').mean()['mpg']

model_year
70    17.689655
71    21.250000
72    18.714286
73    17.100000
74    22.703704
75    20.266667
76    21.573529
77    23.375000
78    24.061111
79    25.093103
80    33.696552
81    30.334483
82    31.709677
Name: mpg, dtype: float64

In [23]:
avg_displacement.describe()

             mpg  cylinders       weight  acceleration  model_year     origin
count  82.000000  82.000000    82.000000     82.000000   82.000000  82.000000
mean   24.130156   5.305987  2871.401652     15.420720   75.743586   1.737132
std     6.931747   1.660623   794.103177      2.686727    3.469325   0.775605
min    12.666667   3.000000  1613.000000      8.000000   70.000000   1.000000
25%    19.015385   4.000000  2192.250000     13.855000   73.000000   1.000000
50%    24.933333   4.000000  2702.500000     15.750000   75.625000   1.770833
75%    30.000000   6.000000  3421.303309     17.082212   78.364583   2.433333
max    39.225000   8.000000  4642.000000     22.600000   82.000000   3.000000

In [24]:
avg_displacement.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
mpg,82.0,24.130156,6.931747,12.666667,19.015385,24.933333,30.000000,39.225
cylinders,82.0,5.305987,1.660623,3.000000,4.000000,4.000000,6.000000,8.000
weight,82.0,2871.401652,794.103177,1613.000000,2192.250000,2702.500000,3421.303309,4642.000
acceleration,82.0,15.420720,2.686727,8.000000,13.855000,15.750000,17.082212,22.600
model_year,82.0,75.743586,3.469325,70.000000,73.000000,75.625000,78.364583,82.000
origin,82.0,1.737132,0.775605,1.000000,1.000000,1.770833,2.433333,3.000

## Groupby Multiple Columns
Let's explore average mpg per year per cylinder count

In [25]:
df.groupby(['mpg','weight']).mean()

             cylinders  displacement  acceleration  model_year  origin
mpg  weight
9.0  4732          8.0         304.0          18.5        70.0     1.0
10.0 4376          8.0         307.0          15.0        70.0     1.0
     4615          8.0         360.0          14.0        70.0     1.0
11.0 3664          8.0         350.0          11.0        73.0     1.0
     4382          8.0         318.0          13.5        70.0     1.0
...                ...           ...           ...         ...     ...
43.4 2335          4.0          90.0          23.7        80.0     2.0
44.0 2130          4.0          97.0          24.6        82.0     2.0
44.3 2085          4.0          90.0          21.7        80.0     2.0
44.6 1850          4.0          91.0          13.8        80.0     3.0
46.6 2110          4.0          86.0          17.9        80.0     3.0

[392 rows x 5 columns]

In [26]:
df.groupby(['cylinders','mpg']).mean()

                displacement  weight  acceleration  model_year  origin
cylinders mpg
3         18.0          70.0  2124.0          13.5        73.0     3.0
          19.0          70.0  2330.0          13.5        72.0     3.0
          21.5          80.0  2720.0          13.5        77.0     3.0
          23.7          70.0  2420.0          12.5        80.0     3.0
4         18.0         121.0  2933.0          14.5        72.0     2.0
...                      ...     ...           ...         ...     ...
8         20.0         262.0  3221.0          13.5        75.0     1.0
          20.2         302.0  3570.0          12.8        78.0     1.0
          23.0         350.0  3900.0          17.4        79.0     1.0
          23.9         260.0  3420.0          22.2        79.0     1.0
          26.6         350.0  3725.0          19.0        81.0     1.0

[159 rows x 5 columns]

In [27]:
df.groupby(['cylinders','mpg']).mean().index

MultiIndex([(3, 18.0),
            (3, 19.0),
            (3, 21.5),
            (3, 23.7),
            (4, 18.0),
            (4, 19.0),
            (4, 20.0),
            (4, 21.0),
            (4, 21.1),
            (4, 21.5),
            ...
            (8, 18.2),
            (8, 18.5),
            (8, 19.2),
            (8, 19.4),
            (8, 19.9),
            (8, 20.0),
            (8, 20.2),
            (8, 23.0),
            (8, 23.9),
            (8, 26.6)],
           names=['cylinders', 'mpg'], length=159)

In [28]:
df.groupby(['cylinders','mpg']).mean().columns

Index(['displacement', 'weight', 'acceleration', 'model_year', 'origin'], dtype='object')

# MultiIndex

## The MultiIndex Object

In [31]:
year_cyl = df.groupby(['model_year','cylinders']).mean()

In [33]:
year_cyl

                            mpg  displacement       weight  acceleration  \
model_year cylinders
70         4          25.285714    107.000000  2292.571429     16.000000
           6          20.500000    199.000000  2710.500000     15.500000
           8          14.111111    367.555556  3940.055556     11.194444
71         4          27.461538    101.846154  2056.384615     16.961538
           6          18.000000    243.375000  3171.875000     14.750000
           8          13.428571    371.714286  4537.714286     12.214286
72         3          19.000000     70.000000  2330.000000     13.500000
           4          23.428571    111.535714  2382.642857     17.214286
           8          13.615385    344.846154  4228.384615     13.000000
73         3          18.000000     70.000000  2124.000000     13.500000
           4          22.727273    109.272727  2338.090909     17.136364
           6          19.000000    212.250000  2917.125000     15.687500
           8          13.200000    365.250000  4279.050000     12.250000
74         4          27.800000     96.533333  2151.466667     16.400000
           6          17.857143    230.428571  3320.000000     16.857143
           8          14.200000    315.200000  4438.400000     14.700000
75         4          25.250000    114.833333  2489.250000     15.833333
           6          17.583333    233.750000  3398.333333     17.708333
           8          15.666667    330.500000  4108.833333     13.166667
76         4          26.766667    106.333333  2306.600000     16.866667
           6          20.000000    221.400000  3349.600000     17.000000
           8          14.666667    324.000000  4064.666667     13.222222
77         3          21.500000     80.000000  2720.000000     13.500000
           4          29.107143    106.500000  2205.071429     16.064286
           6          19.500000    220.400000  3383.000000     16.900000
           8          16.000000    335.750000  4177.500000     13.662500
78         4          29.576471    112.117647  2296.764706     16.282353
           5          20.300000    131.000000  2830.000000     15.900000
           6          19.066667    213.250000  3314.166667     16.391667
           8          19.050000    300.833333  3563.333333     13.266667
79         4          31.525000    113.583333  2357.583333     15.991667
           5          25.400000    183.000000  3530.000000     20.100000
           6          22.950000    205.666667  3025.833333     15.433333
           8          18.630000    321.400000  3862.900000     15.400000
80         3          23.700000     70.000000  2420.000000     12.500000
           4          34.612000    111.000000  2360.080000     17.144000
           5          36.400000    121.000000  2950.000000     19.900000
           6          25.900000    196.500000  3145.500000     15.050000
81         4          32.814286    108.857143  2275.476190     16.466667
           6          23.428571    184.000000  3093.571429     15.442857
           8          26.600000    350.000000  3725.000000     19.000000
82         4          32.071429    118.571429  2402.321429     16.703571
           6          28.333333    225.000000  2931.666667     16.033333

                        origin
model_year cylinders
70         4          2.285714
           6          1.000000
           8          1.000000
71         4          1.923077
           6          1.000000
           8          1.000000
72         3          3.000000
           4          1.928571
           8          1.000000
73         3          3.000000
           4          2.000000
           6          1.250000
           8          1.000000
74         4          2.200000
           6          1.000000
           8          1.000000
75         4          2.166667
           6          1.000000
           8          1.000000
76         4          1.866667
           6          1.300000
           8          1.000000
77         3          3.000000
           4          1.857143
           6          1.400000
           8          1.000000
78         4          2.117647
           5          2.000000
           6          1.166667
           8          1.000000
79         4          1.583333
           5          2.000000
           6          1.000000
           8          1.000000
80         3          3.000000
           4          2.200000
           5          2.000000
           6          2.000000
81         4          2.095238
           6          1.714286
           8          1.000000
82         4          1.714286
           6          1.000000

In [34]:
year_cyl.index

MultiIndex([(70, 4),
            (70, 6),
            (70, 8),
            (71, 4),
            (71, 6),
            (71, 8),
            (72, 3),
            (72, 4),
            (72, 8),
            (73, 3),
            (73, 4),
            (73, 6),
            (73, 8),
            (74, 4),
            (74, 6),
            (74, 8),
            (75, 4),
            (75, 6),
            (75, 8),
            (76, 4),
            (76, 6),
            (76, 8),
            (77, 3),
            (77, 4),
            (77, 6),
            (77, 8),
            (78, 4),
            (78, 5),
            (78, 6),
            (78, 8),
            (79, 4),
            (79, 5),
            (79, 6),
            (79, 8),
            (80, 3),
            (80, 4),
            (80, 5),
            (80, 6),
            (81, 4),
            (81, 6),
            (81, 8),
            (82, 4),
            (82, 6)],
           names=['model_year', 'cylinders'])

In [36]:
year_cyl.index.names

FrozenList(['model_year', 'cylinders'])

# Indexing with the Hierarchical Index

Full Documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html

In [37]:
year_cyl.head()

                            mpg  displacement       weight  acceleration  \
model_year cylinders
70         4          25.285714    107.000000  2292.571429     16.000000
           6          20.500000    199.000000  2710.500000     15.500000
           8          14.111111    367.555556  3940.055556     11.194444
71         4          27.461538    101.846154  2056.384615     16.961538
           6          18.000000    243.375000  3171.875000     14.750000

                        origin
model_year cylinders
70         4          2.285714
           6          1.000000
           8          1.000000
71         4          1.923077
           6          1.000000

## Grab Based on Outside Index

In [38]:
year_cyl.loc[70]

                 mpg  displacement       weight  acceleration    origin
cylinders
4          25.285714    107.000000  2292.571429     16.000000  2.285714
6          20.500000    199.000000  2710.500000     15.500000  1.000000
8          14.111111    367.555556  3940.055556     11.194444  1.000000

In [39]:
year_cyl.loc[[70,72]]

                            mpg  displacement       weight  acceleration  \
model_year cylinders
70         4          25.285714    107.000000  2292.571429     16.000000
           6          20.500000    199.000000  2710.500000     15.500000
           8          14.111111    367.555556  3940.055556     11.194444
72         3          19.000000     70.000000  2330.000000     13.500000
           4          23.428571    111.535714  2382.642857     17.214286
           8          13.615385    344.846154  4228.384615     13.000000

                        origin
model_year cylinders
70         4          2.285714
           6          1.000000
           8          1.000000
72         3          3.000000
           4          1.928571
           8          1.000000

## Grab a Single Row

In [40]:
year_cyl.loc[(70,8)]

mpg               14.111111
displacement     367.555556
weight          3940.055556
acceleration      11.194444
origin             1.000000
Name: (70, 8), dtype: float64